<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Lib/jquery-1.7.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Lib/jquery.tmpl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Lib/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Lib/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Lib/jquery.json-2.3.min.js")" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
